
<%= stylesheet_link_tag 'events' %>

<table width="750px" >
  <tr>
    <td>
      
      <%if !params[:group_id].nil? %>
      <span class="group_title">Events</span><%=params[:event_id]%>
        <% for event in @group.events %>
          <%= render :partial => '/events/event_brief', :locals=>{:event=>event,  :group_event => @group } %>
        <% end %><br/>
        <% if @group.events.length == 0 %>
          No Events exist.
        <% end %>
        <br/>
      
             <% if logged_in? %>
             	<% if @group.users.include?(current_user) %><%= link_to 'Create New Events', :controller => 'groups', :action => 'events', :id => @group.id, :type=>'new'%>  <%end%>

	      <%end%>
          
      <%elsif params[:event_id] and !params[:class]%>
         <span class="group_title">Events</span><%=params[:event_id]%>
        <div id ="event_show">

          <div class="column_1">
            <%= render :partial => '/events/event_details' %>
            <div class="module">
              <div class="module_head">Event Description</div>
              <div class="module_body">
                <%= @event.description %>
              </div>
            </div>
            <%= render :partial => 'shared/wall_posts_widget', :locals=>{:parent=>@event} %>
            <%= link_to_function "Go back", "history.back()" %>
          </div>
          <div class="column_2">
            <% if (current_user && current_user.is_admin) || current_user == @event.user %>
              <%= render :partial => '/events/event_admin_widget', :locals=>{:group_event=> "group_event"} %>
            <% end %>
            <%= render :partial => '/events/attendance_widget' %>
          </div>
        </div>
        <%elsif params[:class] == 'edit'%>
        
 <span class="group_title">Edit Events</span>

<div id="add_event">
	<%= render :partial => 'events/event_form' %>
	<div style="clear:both;"></div>
        <%= link_to_function "Go back", "history.back()" %>
</div>
   <%elsif params[:type] == 'new'%>
     <span class="group_title">Add Events</span>
<div id="add_event">
	<%= render :partial => 'events/event_form' %>
</div>



      <%end%>
    </td>
  </tr>
</table>




