<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'groups' %>
<%= stylesheet_link_tag 'forum' %>




<table width="700px" >
<tr>
<td>
<span class="group_title">Groups</span>
	<% for group in @groups %>
		<%= render :partial => 'group_brief', :locals=>{:group=>group} %>
	<% end %> <br/>
	<% if @groups.length == 0 %>
		No groups exist.
	<% end %>

<div id="content_table">
<span class="group_title">Forums</span>
<div id="forum_table" style="padding-left: 1px;">
  <% if @forums.length != 0 %>
	<div id="topic_header">
		<div class="topic_title">Forum</div>
		<div class="topic_threads">Threads</div>
		<div class="topic_posts">Posts</div>
		<div class="topic_last_post">Last Post</div>
	</div>
  
	<% @forums.each do |topic| %>
		<div class="a_topic">
			<div class="topic_title"><%= link_to topic.title, forum_topic_forum_posts_path(topic) %></div><br/>
			<div class="topic_desc"><%= topic.description %></div>
			<div class="topic_threads"><%= topic.forum_threads.length %></div>
			<div class="topic_posts"><%= topic.forum_posts.length %></div>
			<% if topic.forum_posts.length != 0 %>
				<% last_post = topic.forum_posts[0] %>
				<div class="topic_last_post">
					<%= link_to last_post.title, forum_post_path(last_post) %><br/>
					posted by <%= last_post.user.name %><br/>
					<%= last_post.created_at %>
				</div>
			<% else %>
				<div class="topic_last_post">No Posts</div>
			<% end %>
		</div>
	<% end %>
  <%else%>
		No topics exist.
	<% end %>
</div>

<br>
<span class="group_title">Events</span>
	<% for event in @events %>
		<%= render :partial => '/events/event_brief', :locals=>{:event=>event} %>
	<% end %><br>
	<% if @events.length == 0 %>
		No Events exist.
	<% end %>
<br>

<span class="group_title">Wiki</span>

<%= wiki_page_style %>
<% for wiki in @wiki %>
<h1><%=h wiki.title %></h1>

<div class="wiki_content">
  <%=wiki_content wiki.content %>
</div>
<%end%><br>
<% if @wiki.length == 0 %>
		No Wiki exist.
	<% end %>
</div>

</td>
</tr>
</table>




