
<script src="/javascripts/tabber.js" type="text/javascript"></script>
<%#= stylesheet_link_tag 'example' %>
<%= stylesheet_link_tag 'groups' %>
<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'forum' %>
<%= stylesheet_link_tag 'events' %>


      <div align="right" style="margin-bottom: 0px;">
        <% if logged_in? and  !current_user.is_group_admin(@group) %>
          <% unless @group.users.include?(current_user) %>
            <%unless @group.private?%>
              <% form_for(:membership, :url => memberships_path(:user_id => current_user.id, :group_id => @group.id)) do |f| %>
                <%= submit_tag "Join Group" %>
              <% end %>
            <%else%>
              <% form_for(:membership, :url => private_group_path(:user_id => current_user.id, :group_id => @group.id)) do |f| %>
                <%= submit_tag "Join Group" %>
              <% end %>
            <% end %>
          <%end%>
        <% end %>
      </div>





    <h2>OverView</h2>
    <p> <div class="module">
      <div class="module_head">Information
        <div class="head_links"></div>
      </div>
      <div class="module_body">
        <div id="group_description"><%= @group.description %></div>
        <div style="clear:both"></div>
      </div>
    </div>
    <%= render :partial => 'groups/announcements_widget' %>
    <%= render :partial => 'shared/wall_posts_widget', :locals=>{:parent=>@group} %>
    </p>



