<%= error_messages_for :asset %>
<% form_for(:asset, :url => {:action => 'do_the_upload'} ,:html => { :multipart => true }) do |form| %>
  <p>
    <label for="uploaded_data">Upload a file:</label>
    <input type="hidden" name="asset[group_id]" value= <%=@group.id%> />
    <%= form.file_field :asset %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<% unless @group.assets.empty?  %>

  <% for event in @group.assets %>
    <%if event.asset_file_name.split('.')[1] == 'pdf'%>
      <%= image_tag('p_icon.gif') %> <%= link_to event.asset_file_name, event.asset.url %> <br>
    <%elsif event.asset_file_name.split('.')[1] == 'zip'%>
      <%= image_tag('zip.jpg') %> <%= link_to event.asset_file_name, event.asset.url %> <br>
    <%else%>
      <%= image_tag('D_Icon.jpg') %> <%= link_to event.asset_file_name, event.asset.url %> <br>
    <%end%>
  <% end %>
<%else%>
  No Documents Added yet
<%end%>

