
<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'groups' %>


<h1>Wiki's in <%=@group.name%></h1>
<div id="add_groups">
  <%if @wiki.length != 0  %>
	<%for wiki in @wiki%>
          <%= link_to "#{wiki.title}", :controller => "wiki/#{@group.id}/#{wiki.path}"   %><br>
         <%end%>
	<div style="clear:both;"></div>
        <%else%>
          No Pages on this group
        <%end%>
</div> <br>

<% if logged_in? && current_user.is_group_admin(@group) %>
<%=link_to "CREATE NEW WIKI ", {:controller => "wiki/#{@group.id}", :action => 'edit' }, :onclick => "TotalCheckedValues()" %>
<%end%>


 <% form_tag({ :controller => "wiki", :action => "edit"}, {:id=>"search_form"}) do %>
    <%= hidden_field_tag :group_id, @group.id%>
  <% end %>

  <script type="text/javascript" language="JavaScript">

    function TotalCheckedValues() {
      var name = document.getElementById('search_form').submit();
    }
  </script>
